header .top-head{
    background-color: #74084b;
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: 1000;
    
}


header .raw {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
}

header .logo img {
    width: 60px;

}

nav ul {
    display: flex;
    font-size: 14px;

    list-style: none;
    gap: 20px;
}

nav ul li a {
    color: #fff;
    transition: all 0.2s ease 0s;
}

nav ul li a:hover {
    color: var(--success)
}

header .mid-head {
    background-color: #4c0874;
    position: fixed;
    top: 30px;
    width: 100%;
    z-index: 1000;
   
}

header .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
}
header .wc-logo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

header .wc-logo svg {
    font-size: 25px;
    padding: 5px;
    color: #fff;
    background-color: #ffffff21;
    border-radius: 50%;
}
header .wrapper .w-logo img {
    width: 100px;
    height: 50px;
}

header .last svg {
    font-size: 25px;
    color: #fff;
    padding-left: 20px;
}

header .bottom-head {
    background-color: var(--background);
    margin-top: 94px;
}

header .b-raw {
    display: flex;
    gap: 20px;
    justify-content: space-between;
    align-items: center;
}

header .flag img {
    width: 80px;
    height: 50px;
    border: 2px solid #5E4DB8;
}

header .flag {
    display: flex;
    gap: 30px;
    align-items: center;
}

header .flag h1 {
    color: #fff;
    font-weight: 400;
    font-size: 40px;
}

header .news-bar {
    background-color: #5E4DB8;
    padding: 10px 30px;

}

#hero .text {
    width: 100%;
    margin: auto;
    box-sizing: border-box;
    padding: 20px;
    font-size: 25px;
    /* border-bottom: 3px solid #5E4DB8; */
}

#hero .team img {
    width: 100%;
    /* height: 100%; */
    /* padding: 10px; */
}

#hero .team-bottom {
    max-width: 1200px;
    margin: auto;
    overflow: hidden;
    box-sizing: border-box;
    padding: 10px;
    text-align: center;
    background-color: var(--background);
    border-radius: 10px;
}

#hero .team-bottom h4 {
    font-size: 20px;
    line-height: 25px;
    color: #000;
    padding: 20px;
}

#hero .team-bottom p {
    padding: 20px;
    line-height: 25px;
    text-align: justify;
}

#hero .team-text {
    max-width: 320px;

    font-size: 20px;
    margin: auto;
    padding: 20px;
    border-bottom: 5px solid #5E4DB8;
    border-radius: 5px;
}

#hero .cards {
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    padding: 40px 15px;
    justify-content: center;
}

#hero .card-img {
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.24);
    border-radius: 5px;
}


#hero .cardimg img {
    width: 100%;
}

#hero .card-img h2 {
    padding: 15px;
    /* margin-left: 73px; */
    text-align: center;
}

#hero .card-img p {
    padding-bottom: 10px;
    text-align: center;
}

#news {
    background-color: #77cbffa1;
}

#news .news-text {
    padding: 20px;
    width: 350px;
    margin: auto;
    border-bottom: 3px solid #5E4DB8;
}

#news .raw {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    padding: 30px 0px;
}

#news .news-left {
    width: 50%;
    height: 100%;
    box-shadow: 0px 25px 80px rgba(0, 0, 0, 0.15);
}

#news .news-left img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

#news .news-left h2 {
    color: #000;
    font-size: 20px;
    padding: 40px 20px;
    text-align: center;
}

#news .news-left p {
    padding: 10px;
    line-height: 25px;
    padding-top: 40px;
}

#news .news-right {
    width: 50%;
}

#news .news-card {
    display: flex;
    gap: 20px;
    padding: 13px;
}

#news .news-card img {
    /* width: 100%; */
    border-radius: 10px;
}

#news .news-card h5 {
    font-size: 15px;
    padding: 20px 0px 0px 8px;
    line-height: 30px;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px -1px rgba(0, 0, 0, 0.1);
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
#coach {
    background-color:var(--border-1);
}
#coach .raw {
    padding: 50px 30px;
}

#coach .coach-talk {
    padding: 10px;
    
}

#coach .coach-talk h1 {
    padding: 10px;
    font-size: 30px;
    text-align: center;
    color: #000;
}
#coach .coach-talk h3 {
    font-size: 20px;
    margin-left: 100px;
    padding: 10px;
    color: #000;
}

#coach .coach-img {
    width: 80%;
    margin: auto;
}

#coach .coach-img img {
    width: 100%;
    border-radius: 5px;
}

#coach .coach-img p {
    padding: 20px 0px;
    line-height: 30px;
    font-size: 20px;
}
#coach .coach-img a {
    padding-left: 20px;
    color: var(--dark-text);
}
#team-start .team-profile {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    position: relative;
    scrollbar-width: none;
    overflow: unset;
}
#team-start .team-profile .top {
    display: flex;
    justify-content: space-between;
    padding-right: 15px;
    padding-left: 10px;
}
#team-start .team-start-cards {
    padding: 5px;
    background-color: #E5E5E5;
}
#team-start .raw {
    padding: 30px 0px;
}
#team-start .raw h1 {
    padding: 15px 0px;
    /* border-bottom: 2px solid #5E4DB8; */
}
#team-start .team-profile .top img {
    width: 75px;
    height: 50px;
}
#team-start .team-profile .bottom{
    display: flex;
    justify-content: space-between;
    gap: 150px;
    align-items: end;
}
#team-start .bottom img {
    width: 100px;
    padding: 5px;
}
#team-start .bottom .text {
    width: 195px;
}
#team-start .bottom .text span {
    font-size: 30px;
    padding: 10px;
}
#team-start .bottom .text p {
    padding: 10px;
    font-size: 14px;
}
#team-start .pre {
    left: 10px;
}
#team-start .next {
    right: 10px;
}
#team-start .raw .next,.raw .pre {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: var(--border-1);
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute; 
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    transition: .3s;
} 

#team-start .team-profile .next:hover,.team-profile .pre:hover{
    background-color: var(--primary);
    border-color: transparent;
}

#team-start .team-profile .next:hover svg path,.team-profile .pre:hover svg path{
  stroke: white;

}
#team-start .team-profile .next svg path,.team-profile .pre svg path{
    transition: .3s;
}
#highlights {
    background-color: #4c0874;
}
#highlights .raw {
    padding: 50px 30px;
}

#highlights .top {
    display: flex;
    justify-content: space-between;
}

#highlights .top-text {
    width: 40%;
    padding: 20px;
    
}

#highlights .top-image {
    width: 60%;
    /* padding: 25px; */
}

#highlights .top-image img {
    width: 100%;
    border-radius: 10px;
}

#highlights .top-text h1 {
    color: #fff;
    padding: 10px;
}

#highlights .top-text p {
    color: #fff;
    padding: 10px;
    line-height: 30px;
}
 
#highlights .all-highlights {
    background-color: #fff;
}
#highlights .all-highlights .raw h3 {
    padding: 20px 0px;
    font-size: 30px;
    text-align: center;
    border-bottom: 3px solid #5E4DB8;
}

#highlights .highlights-cards {
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
    gap: 10px;
}
#highlights .highlights-cards .cards {
    padding: 10px;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px -1px rgba(0, 0, 0, 0.1);
}
#highlights .highlights-cards .cards img {
    width: 100%;
    padding-bottom: 5px;
} 
#highlights .highlights-cards .cards a {
    padding: 15px 0px;
}
footer {
    background: #00b8ff;
    padding: 30px 20px;
}

footer .row {
    padding: 5px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

}
footer .logo img {
    width: 60px;

}

footer h1 {
    color: #fff;
}
footer ul li {
    list-style: none;
    font-size: 14px;
    gap: 8px;

}

footer .col-1 .f-text {
    padding: 5px 0px;
    
}

footer .col-1 .f-text p {
    color: #fff;
}

footer h2,
footer h3 {
    color: #fff;
    font-size: 22px;
    margin-bottom: 8px;
}

footer ul li a {
    color:#fff !important;
    padding: 6px 0px;
    display: block;
}
footer .pay {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}
footer ul li a:hover {
    color: #000 !important;
}
footer .social svg {
    color: #fff;
}
footer .icon {
    display: flex;
    gap: 10px;
    align-items: center;
}

footer .copyright {
    border-top: 1px solid #fff;
    padding-top: 15px;
    font-size: 14px;
    color: #fff;
    text-align: center;
}













@media (max-width:1063px) {
    #news .raw {
        display: inline;
    }
    #news .news-left {
        width: 100%;
    }
    #news .news-left h2 {       
       margin: auto;
        width: 80%;
    }
    #news .news-left img {
        width: 50%;
    }
    #news .news-left p {
        width: 40%;
    }
    #news .news-left p {
        width: 40%;
        line-height: 50px;
        padding-top: 0px;
        padding-right: 50px;
        float: right;
    }
    #news .news-right {
        width: 100%;
        margin-top: 30px;
    }
    #news .news-card {
            width: 45%;
            display: block;
            float: left;       
    }
    #news .news-card img {
        width: 45%;
    }
    #news .news-card h5 {
        width: 50%;
        float: right;
        
    }
    #coach .coach-talk h3 {
        margin-left: 25px;
    }
    header .mid-head .right{
        display: none;
    }
    header .mid-head .last {
        display: none;
    }
    header .top-head .right{
        display: none;
    }
      
}
@media (max-width:700px) {
    header .bottom-head {
        display: none;
    }
    section#hero {
        margin-top: 50px;
    }

    #news .news-left p {
        line-height: 30px;
    }
    #news .news-card {
        width: 100%;
        
    }
    #news .news-left img {
        width: 100%;
        float: unset;
    }
    #news .news-left p {
        width: 100%;
        float: unset;
    }
    #highlights .top {
        display: block !important;
    }
    #highlights .top-text {
        width: 100%;
    }
    #highlights .top-image {
        width: 100%;
    }

}
@media (max-width:500px) {
    #hero .cards {
       
        grid-template-columns: repeat(auto-fit, minmax(170px, 1fr));
       gap: 10px;
    }
    #news .news-left img {
        width: 100%;
    }
    #news .news-left p {
      width: 100%;
      padding: 10px;
    }
    
    footer .row {
        display: block;
        padding-left: 20px;
    }

    footer .icon {
        justify-content: start;
    }

    footer .col {
        margin-bottom: 25px;
    }
}